.header-spacer {
    flex: 1 1 auto;
  }
  
  .header-toolbar {
    background-color: #3c4852;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  
  .app-title {
    padding-left: 20px;
  }
  
  .menu-button mat-icon {
    color: white;
  }
  
  .content-container {
    height: 100%;
    border: 1px solid #ddd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar {
    background-color: whitesmoke;
    height: 100%;
    width: 250px;
  }
  
  .table-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5%;
    width: 100%;
  }
  
  table-overview {
    width: 100%;
    max-width: 1200px;
    min-width: 800px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .button-section {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding-right: 19%;
  }
  
  button {
    background-color: #3c4852;
    color: red;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
  }
  